*{
    font-family:'Lato', sans-serif;
}
a{
    color:white;
    text-decoration: none;    
}
a:hover{
    color:darkred;
}
.card a:hover{
    background-color: darkred !important;
}

/** NAVBAR **/
nav{
    position:fixed !important;
    top:0;
    z-index:999;
    width:100vw;
    max-width:100%;
}
.logo{
    height:40px;
    margin-left:3vw;
}
.search{
    display:inline-block;
    width:100%;
}
.searchbar{
    opacity:.3;
    width:95%;
    transition: opacity .6s;
    padding:0.375rem 0.75rem;
}
.searchbar:focus, .searchbar:hover{
    opacity:1;
}
.search-icon{
    color:white;
}

/** HEADER **/
header{
    position:relative;
    margin-top: 66px;
    display:flex;
    flex-direction:column;
    justify-items:150%;
    background-image: linear-gradient(170deg, rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url(./media/img/bg.jpeg);
    min-height:400px;
    background-position:center 77% ;
    background-size: cover;
}
.banner{
    color:white;
    position:absolute;
    bottom:10%;
    left: 10%;
}
.banner h3{
    font-size:3vw;
    text-shadow: 3px 3px 1px darkred;
}
.banner h1{
    text-shadow: 4px 4px 2px darkred;
    font-size:9vw;
    font-family: 'MedievalSharp', cursive;
    display:block;   
}

/** MAIN **/
.menu{
    padding-bottom:30px;
    padding-top:30px;
}
.menu .row-custom{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
}
.row-custom > *{
    padding-left:0;
    padding-right:0;
    
}
.course{
    /* border:2px dashed cyan; */
    min-height:300px;
    padding:1.3rem;
}
.course#primo{
    background-image:url(./media/img/bg-primi.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
}
.course#secondo{
    background-image:url(./media/img/bg-wellington.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.course#dolce{
    background-image:url(./media/img/bg-dessert.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center 57%;
}
.vini{
    height:100%;
    color:white;
    padding-top:5%;
    padding-left:1%;
    padding-bottom:1%;
    display:block;
    margin-top:5px;
    max-height:400px;
    background-image:url(./media/img/bg-wine.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center right;
}
.card-custom{
    width:110px;
}
.card>img{
    display: block;
    max-width:500px;
    max-height:300px;
    width: auto;
    height: auto;
}

.card-body-custom{
    padding-bottom:0px;
    padding-top:0px;
    padding-left:0.5rem;
    padding-right:0.5rem;
}
.nome-piatto{
    text-shadow: 2px 2px 2px black;
}
.desc-piatto{
    color:white;
    border-radius:10px;
    border:2px solid grey;
    background-color:rgba(77, 62, 62, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);
}
.ingr-piatto{
    box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.068);
    background-image:url('./media/img/bg-note.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:top left;
    padding-left:4%;
    padding-top: 5%;
    padding-bottom:0;
}
.ingr-piatto>ul{
    list-style-type: none;
}
li.prep::before{
    font-family:"Font Awesome 5 Free", sans-serif;
    content:'\f017';
    margin-right:7px;
}
li.cook::before{
    font-family:"Font Awesome 5 Free", sans-serif;
    font-weight: 900;
    content:'\f7e4';
    margin-right:7px;
}
li.serv::before{
    font-family:"Font Awesome 5 Free", sans-serif;
    font-weight:900;
    content:'\f2e7';
    margin-right:7px;
}
li.price::before{
    font-family:"Font Awesome 5 Free", sans-serif;
    font-weight:900;
    content:'\f153';
    margin-right:7px;
}
.diff-piatto{
    margin-top:40px;
    text-shadow:2px 2px 2px black;
}
.star{
    color:white;
    border-radius:10px;
    border:2px solid grey;
    background-color:rgba(77, 62, 62, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);
}
.fa-star{
    color:rgb(255, 217, 0);
    text-shadow: 3px 3px 3px black;
}
.star>*{
    padding:0px;
}

/* FOOTER*/
footer{
    text-align:center;
    border-top:2px solid white;
    display:block;
    padding-bottom:30px;
    padding-top:10px;  
}
 
/** MEDIA QUERIES **/

/* >= md */
@media screen and (min-width:768px){
    .searchbar{
        width:90%;
    }
    .vini{
        margin-left:5px;
        margin-top:0px;
    }
    .ingr-piatto{
    padding-left:5%;
    padding-top: 3%;
    padding-bottom:0;
    }
}

/* md only */
@media screen and (min-width:768px) and (max-width:991px){
    .star{
        height:100%;
    }
    .diff-piatto{
        margin-top:0;
    }
}

/* >= lg */
@media screen and (min-width:1600px){
    /* .course{
        background-attachment: fixed;
    } */
}

/* iPhone 5 / Galaxy Fold */
@media screen and (max-width:359px){
    .card-custom{
        width:90px;
    }
    .card-title-custom{
        font-size:.9rem;

    }
}

